<div
  class="w-screen h-40 bg-gradient-to-b from-gray-800 to-gray-700 flex items-end text-right"
  style="max-width: 300px"
>
  <div class="w-full py-5 px-6 text-6xl text-white font-thin">
    <span class="text-4xl"> 50 + </span>
    <br />
    <span>340.0</span>
  </div>
</div>
<div class="w-full bg-gradient-to-b from-indigo-400 to-indigo-500">
  <div class="flex w-full">
    <calculator-btn> C </calculator-btn>
    <calculator-btn> +/- </calculator-btn>
    <calculator-btn> % </calculator-btn>
    <calculator-btn isCommand> ÷ </calculator-btn>
  </div>
  <div class="flex w-full">
    <calculator-btn> 7 </calculator-btn>
    <calculator-btn> 8 </calculator-btn>
    <calculator-btn> 9 </calculator-btn>
    <calculator-btn isCommand> x </calculator-btn>
  </div>
  <div class="flex w-full">
    <calculator-btn> 4 </calculator-btn>
    <calculator-btn> 5 </calculator-btn>
    <calculator-btn> 6 </calculator-btn>
    <calculator-btn isCommand> - </calculator-btn>
  </div>
  <div class="flex w-full">
    <calculator-btn> 1 </calculator-btn>
    <calculator-btn> 2 </calculator-btn>
    <calculator-btn> 3 </calculator-btn>
    <calculator-btn isCommand> + </calculator-btn>
  </div>
  <div class="flex w-full">
    <calculator-btn> 0 </calculator-btn>
    <calculator-btn> . </calculator-btn>
    <calculator-btn isCommand isDoubleSize> = </calculator-btn>
  </div>
</div>
